<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h1>Zatrazili ste prikaz sljedecih trenera</h1>
    <table>
        <tr th:each="trainer : ${list}">
        	<td th:text="${trainer.id}">default</td>
        	<td th:text="${trainer.firstName}">default</td>
        	<td th:text="${trainer.lastName}">default</td>
        	<td th:text="${trainer.pokemons}">default</td>
    	</tr>
    </table>


</body>
</html>